<%= form_for(@photo_gallery) do |f| %>
  <% if @photo_gallery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo_gallery.errors.count, "error") %> prohibited this photo_gallery from being saved:</h2>

      <ul>
      <% @photo_gallery.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
   <div class='field'>
    <%= hidden_field_tag "photo_gallery[tag_ids][]", nil %>
    <% Tag.all.each do |tag| %>
      <%=check_box_tag "photo_gallery[tag_ids][]", tag.id, @photo_gallery.tag_ids.include?(tag.id) %>
      <%= tag.name %><br />
    <% end %>
  </div>
  
  <div class='field'>
    <%= check_box_tag "photo_gallery[public]", @photo_gallery.public, @photo_gallery.public %>
    Public    
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
